@model List<SlutProjekt2k19.Models.Profile>

@{

   
}
@if (Request.IsAuthenticated)
{
    <h4 style="padding-bottom: 1rem;">Go and find these singles in your feed:</h4>
    <div class="container">
        <div class="row">
            @foreach (SlutProjekt2k19.Models.Profile profil in Model.ToList())
            {
                <div class="col-md-4 col-sm-4">
                    <a href="@Url.Action("OtherProfile", "Profiles", new { id = profil.Id } )">
                        <img alt="AltText" src="@Url.Content(profil.Image)" style="height: 200px; width: 200px; border-radius: 5%;" class="img-fluid">
                    </a>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="col-sm-6">
        <div class="container">
            <h2>People you can meet on F&S:</h2>
            <div class="row">
                @foreach (SlutProjekt2k19.Models.Profile profil in Model.ToList())
                {
                    <div class="col-md-4 col-sm-4">
                        <a href="@Url.Action("OtherProfile", "Profiles", new { id = profil.Id } )">
                            <img alt="AltText" src="@Url.Content(profil.Image)" style="height: 200px; width: 200px; border-radius: 5%;" class="img-fluid">
                        </a>
                    </div>
                }
            </div>
            <hr/>
            <div class="row">
                
            </div>
        </div>
    </div>
}