<h3>Add Friend with UserCredentials</h3>

@using (Html.BeginForm("SendFriendRequest", "FriendRequests", FormMethod.Get))
{
    <p>
        Name  : @Html.TextBox("id")<br />
        <input type="submit" value="Search" />
    </p>
}



@*<p>@ViewBag.MyString</p>*@
