<h3>Add Friend with UserCredentials</h3>

@using (Html.BeginForm("SendFriendRequest", "FriendRequests", FormMethod.Get))
{
    <p>
        Name  : @Html.TextBox("id")
        <input type="submit" class="btn btn-primary" value="Search" />
    </p>
    <hr/>
}