@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using SlutProjekt2k19.Models
@using System.Data.Entity

@*@{
    ApplicationDbContext db = new ApplicationDbContext();
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier);
    var Id = claim.Value;

    var friendRequest = db.FriendRequest.Where(x => x.RecieverId.Id == Id && x.Accepted == false);

    var numberOfFriendRequests = friendRequest.Count().ToString();

    if (Int32.Parse(numberOfFriendRequests) < 1)
    {
        numberOfFriendRequests = "0";

    }*@
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right textcolor">
            <li class="navpadd nav-link">
                @Html.ActionLink("Welcome " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>
            <li class="navpadd nav-link">
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right textcolor">
        <li class="navpadd nav-link">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"});
        </li>
        @*<li @Html.ActionLink("FriendRequests" + " " + numberOfFriendRequests, "FriendRequest", "FriendRequests")</li>*@
    </ul>
}